*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.navbar{
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.nav-links{
    display: flex;
    list-style: none;
    font-weight: 200;
    gap: 30px;
}
.nav-links a{
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 152%; 
    text-decoration: none;
      
}
.nav-button .btn-green{
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #FFFFFF;
    background-color:  #30b868;
    padding: 12px 16px;
    border-radius: 4px;
}
.btn-green:hover{
    background-color: teal;
} 

/* main section part */

.hero-banner{
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
     background-position: center;
     position: relative;
     height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
     text-align: center;
}
.hero-container{
    max-width: 800px;
    padding: 0 20px;
 }
.hero-container .badge{
    font-size: 16px;
    border: 1px solid;
    background-color: #fff;
    display: inline-block;
    color: #469165;
    border-radius: 20px;
    margin: 8px;
    margin-right: 12px;
    padding: 8px;
    padding-right: 12px;
    margin-bottom: 16px;
    cursor: pointer;     
}

.hero-container h1 .text-white{
    color: #FFFFFF;
    font-size: 72px;
    text-align: center;
    font-style: bold;
    font-weight: 700;
    line-height: 84px;
    text-transform: capitalize;
}
.hero-container h1 .text-green{
    color: #469165;
    font-size: 72px;
    text-align: center;
    font-style: bold;
    font-weight: 700;
    line-height: 84px;
    text-transform: capitalize;
}
.p-content {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin: 16px;
}
.hero-banner .hero-btns{
    text-align: center;
    color: #FFFFFF;
    position: relative;
    display: flex;
    justify-content: space-around;
    text-align: center; 
    gap: 16px; 
}
.hero-btns .start-builds{
    background-color: #30b868;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    display: inline-block;
    padding: 16px 16px;
    border-radius: 4px;
    cursor: pointer; 
}
.hero-btns .see-hows{
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    display: inline-block;
    padding: 16px 16px;
    border: 1px solid white;
    border-radius: 4px;
    text-align: left; 
    cursor: pointer;
    padding: 16px;
    padding-right: 16px;
    padding-left: 36px;
}
.hero-btns .see-hows i{
    padding-right: 10px;   
}
/* second banner */

.second-container{
   text-align: center;
   padding: 50px 20px;
}
h1{
    color: #001931;
   font-size: 48px;
   font-weight: 700;
   margin-bottom: 15px;
   text-align: center;
}
p{
  color: #627382;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;  
}

.problem-card{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    /* flex-wrap: wrap; */
    margin-top: 44px;
    margin: 0 auto;
    padding: 24px    
}
.feature-image{
    
    background-color: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #e2e8f0;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    max-width: 1600px;
    padding: 24px 24px;
    flex: 1;
   
}
.icone-circle {
    background-color: #F95555;
    width: 50px;       
    height: 50px;      
    border-radius: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto 29px auto; 
}
.feature-image {
    width: 35px;
    height: auto;    
}
.feature-image img { 
    width: 25px;      
    height: auto;
}
.feature-image h3 {
    color: #001931;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    text-align: center;
}
.feature-image p {
    color: #627382;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}

/* third-section */

.third-section {
    padding: 120px 120px;
}
.knowledge-div{
   max-width: 1140px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 60px;
   margin: 0 auto;
   padding: 0 20px; 
}
.knowledge img{
     width: 600px;
     height: 600px;
     border-radius: 12px;
}
.the-green{
    color: #30b868;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
} 
.right-side h2{
    color: #001931;
   font-size: 48px;
   font-weight: bold;
   line-height: 58px;
   text-align: left; 
}
.right-side p{
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
     margin: 20px;
}
.knowledge-list li{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    list-style: none;
    gap: 10px;
    text-align: left;
     font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}
/* fouth-section */

.fourth-div{
    background-color: #F7F6F2;
}
.ready-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 80px 40px 80px 40px;
    gap: 24px;

}
.ready-div .btn-green{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #30b868;
    border-radius: 4px;
    padding: 15px 30px;
    margin-bottom: 16px;
    cursor: pointer;

}
.btn-green img{
    gap: 10px;
    padding: 3px 2px;
    margin: 5px 5px;
}
.ready-div p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

 /* footer-section */



.footer {
    background-color: #001529; 
    color: #ffffff;
    padding: 80px 8% 30px 8%; 
}
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}
.footer-logo img {
    max-height: 60px;
    width: auto;
}

.footer-social{
    text-align: left;
}
.footer-social p {
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 28px;
    
}
.social-icons{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 16px;
}
.social-icons a i {
    font-size: 20px;
    color: white;
    text-decoration: none;
}
.footer-divider{
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin: 30px 0;
}
.footer-bottom p {
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;   
}